USE [master]
GO
/****** Object:  Database [aspnet-GJF-20171009055311]    Script Date: 25/11/2017 12:25:51 ******/
CREATE DATABASE [aspnet-GJF-20171009055311]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aspnet-GJF-20171009055311.mdf', FILENAME = N'C:\Users\gmets\Documents\Visual Studio 2017\Projects\GJF\GJF\App_Data\aspnet-GJF-20171009055311.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'aspnet-GJF-20171009055311_log.ldf', FILENAME = N'C:\Users\gmets\Documents\Visual Studio 2017\Projects\GJF\GJF\App_Data\aspnet-GJF-20171009055311_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aspnet-GJF-20171009055311].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aspnet-GJF-20171009055311]
GO
USE [aspnet-GJF-20171009055311]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sportsmen]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sportsmen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Rank] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
	[Tournament_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Sportsmen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournaments]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournaments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[NumberOfContestants] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Tournaments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentSportsmen]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentSportsmen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TournamentId] [int] NOT NULL,
	[SportsmanId] [int] NOT NULL,
	[Seeded] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TournamentSportsmen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentWrestles]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentWrestles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TournamentId] [int] NOT NULL,
	[WrestleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TournamentWrestles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wrestles]    Script Date: 25/11/2017 12:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wrestles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SportsmanOneId] [int] NOT NULL,
	[SportsmanTwoId] [int] NOT NULL,
	[SporstmanOneWazariPoint] [int] NOT NULL,
	[SporstmanTwoWazariPoint] [int] NOT NULL,
	[SporstmanOneIppon] [bit] NOT NULL,
	[SporstmanTwoIppon] [bit] NOT NULL,
	[SportmanOneFine] [int] NOT NULL,
	[SportmanTwoFine] [int] NOT NULL,
	[Tournament_Id] [int] NULL,
	[WinnerSportsmanId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Wrestles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_RegionId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_RegionId] ON [dbo].[Sportsmen]
(
	[RegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tournament_Id]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_Tournament_Id] ON [dbo].[Sportsmen]
(
	[Tournament_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SportsmanId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_SportsmanId] ON [dbo].[TournamentSportsmen]
(
	[SportsmanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TournamentId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_TournamentId] ON [dbo].[TournamentSportsmen]
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TournamentId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_TournamentId] ON [dbo].[TournamentWrestles]
(
	[TournamentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WrestleId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_WrestleId] ON [dbo].[TournamentWrestles]
(
	[WrestleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserName]    Script Date: 25/11/2017 12:25:51 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SportsmanOneId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_SportsmanOneId] ON [dbo].[Wrestles]
(
	[SportsmanOneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SportsmanTwoId]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_SportsmanTwoId] ON [dbo].[Wrestles]
(
	[SportsmanTwoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tournament_Id]    Script Date: 25/11/2017 12:25:51 ******/
CREATE NONCLUSTERED INDEX [IX_Tournament_Id] ON [dbo].[Wrestles]
(
	[Tournament_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Wrestles] ADD  DEFAULT ((0)) FOR [WinnerSportsmanId]
GO
ALTER TABLE [dbo].[Sportsmen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sportsmen_dbo.Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
GO
ALTER TABLE [dbo].[Sportsmen] CHECK CONSTRAINT [FK_dbo.Sportsmen_dbo.Regions_RegionId]
GO
ALTER TABLE [dbo].[Sportsmen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sportsmen_dbo.Tournaments_Tournament_Id] FOREIGN KEY([Tournament_Id])
REFERENCES [dbo].[Tournaments] ([Id])
GO
ALTER TABLE [dbo].[Sportsmen] CHECK CONSTRAINT [FK_dbo.Sportsmen_dbo.Tournaments_Tournament_Id]
GO
ALTER TABLE [dbo].[TournamentSportsmen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TournamentSportsmen_dbo.Sportsmen_SportsmanId] FOREIGN KEY([SportsmanId])
REFERENCES [dbo].[Sportsmen] ([Id])
GO
ALTER TABLE [dbo].[TournamentSportsmen] CHECK CONSTRAINT [FK_dbo.TournamentSportsmen_dbo.Sportsmen_SportsmanId]
GO
ALTER TABLE [dbo].[TournamentSportsmen]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TournamentSportsmen_dbo.Tournaments_TournamentId] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([Id])
GO
ALTER TABLE [dbo].[TournamentSportsmen] CHECK CONSTRAINT [FK_dbo.TournamentSportsmen_dbo.Tournaments_TournamentId]
GO
ALTER TABLE [dbo].[TournamentWrestles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TournamentWrestles_dbo.Tournaments_TournamentId] FOREIGN KEY([TournamentId])
REFERENCES [dbo].[Tournaments] ([Id])
GO
ALTER TABLE [dbo].[TournamentWrestles] CHECK CONSTRAINT [FK_dbo.TournamentWrestles_dbo.Tournaments_TournamentId]
GO
ALTER TABLE [dbo].[TournamentWrestles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TournamentWrestles_dbo.Wrestles_WrestleId] FOREIGN KEY([WrestleId])
REFERENCES [dbo].[Wrestles] ([Id])
GO
ALTER TABLE [dbo].[TournamentWrestles] CHECK CONSTRAINT [FK_dbo.TournamentWrestles_dbo.Wrestles_WrestleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Wrestles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Wrestles_dbo.Sportsmen_SportsmanOneId] FOREIGN KEY([SportsmanOneId])
REFERENCES [dbo].[Sportsmen] ([Id])
GO
ALTER TABLE [dbo].[Wrestles] CHECK CONSTRAINT [FK_dbo.Wrestles_dbo.Sportsmen_SportsmanOneId]
GO
ALTER TABLE [dbo].[Wrestles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Wrestles_dbo.Sportsmen_SportsmanTwoId] FOREIGN KEY([SportsmanTwoId])
REFERENCES [dbo].[Sportsmen] ([Id])
GO
ALTER TABLE [dbo].[Wrestles] CHECK CONSTRAINT [FK_dbo.Wrestles_dbo.Sportsmen_SportsmanTwoId]
GO
ALTER TABLE [dbo].[Wrestles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Wrestles_dbo.Tournaments_Tournament_Id] FOREIGN KEY([Tournament_Id])
REFERENCES [dbo].[Tournaments] ([Id])
GO
ALTER TABLE [dbo].[Wrestles] CHECK CONSTRAINT [FK_dbo.Wrestles_dbo.Tournaments_Tournament_Id]
GO
USE [master]
GO
